<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sale of goods.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD811C421CF07368000C1383</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD811C5E1CF07369000C1383</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD811C691CF0736A000C1383</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
